

/* this is background.html stylesheet */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: red;
}


/* background -image use for adding image in background */
/* this image by default repeated in x and y direction */
/* For restrict the repeat in x and y direction-we are using "background-repeat:repeat-x/repeat-y/no-repeat"  */

body{
    background-image: url("https://s7d1.scene7.com/is/image/tiaastage/home_hero_march_1_24:Hero-With-Children-Large-Retina-2x?ts=1720783200627&fmt=pjpeg&pscan=5");
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat; 

    /* background-size :cover is fit and no empty space remain */
    background-size: cover;
    /* background-size:contain is fit and image fully displayed */
    background-size: contain;
    /* background-size:auto is display its origin size */
    background-size: auto;

    background-position: top center;

}